.softDrinkChild {
    width: 18px;
    height: 13px;
    position: relative;
    display: none;
  }
  .arrowDownUndefinedGlyph {
    width: 21px;
    height: 21px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
  }
  .softDrinks {
    text-decoration: none;
    height: 34px;
    position: relative;
    letter-spacing: 0.01em;
    font-weight: 600;
    color: inherit;
    display: inline-block;
  }
  .container1 {
    width: 225px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .container5 {
    align-self: stretch;
    width: 76px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-burlywood);
    overflow: hidden;
    flex-shrink: 0;
  }
  .roseLassi {
    text-decoration: none;
    color: inherit;
    min-width: 81px;
  }
  .div,
  .prices,
  .roseLassi {
    position: relative;
    display: inline-block;
  }
  .prices {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    min-width: 19px;
  }
  .div {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-darkorange-300);
    min-width: 31px;
    margin-top: -2px;
  }
  .container9 {
    flex-direction: column;
  }
  .container6,
  .container7,
  .container8,
  .container9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container8 {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-7xs);
  }
  .container6,
  .container7 {
    flex-direction: column;
  }
  .container7 {
    gap: var(--gap-mini);
  }
  .container6 {
    padding: var(--padding-6xs) 0 0;
  }
  .container4 {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-bisque);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-4xs);
    gap: var(--gap-xs);
  }
  .container,
  .container3,
  .container4 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container3 {
    flex: 1;
    flex-direction: row;
    padding: 0 0 0 var(--padding-xs);
    font-size: var(--font-size-lg);
    color: var(--color-black);
  }
  .container {
    height: 141px;
    flex-direction: column;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-darkorange-100);
    font-family: var(--font-bricolage-grotesque-48pt);
  }
  .container11 {
    align-self: stretch;
    width: 76px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-burlywood);
    overflow: hidden;
    flex-shrink: 0;
  }
  .div1,
  .kesharLassi,
  .prices1 {
    position: relative;
    display: inline-block;
  }
  .kesharLassi {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 95px;
  }
  .div1,
  .prices1 {
    font-weight: 500;
    min-width: 19px;
  }
  .div1 {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-darkorange-300);
    min-width: 31px;
    margin-top: -2px;
  }
  .container15 {
    flex-direction: column;
  }
  .container10,
  .container12,
  .container13,
  .container14,
  .container15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container14 {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-7xs);
  }
  .container10,
  .container12,
  .container13 {
    flex-direction: column;
  }
  .container13 {
    gap: var(--gap-mini);
  }
  .container10,
  .container12 {
    padding: var(--padding-6xs) 0 0;
  }
  .container10 {
    width: 289px;
    height: 95px;
    border-radius: var(--br-3xs);
    background-color: var(--color-bisque);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-4xs);
    box-sizing: border-box;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-bricolage-grotesque-48pt);
  }
  .containerChild {
    align-self: stretch;
    width: 76px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-burlywood);
    overflow: hidden;
    flex-shrink: 0;
  }
  .div2,
  .multaniLassi,
  .prices2 {
    position: relative;
    display: inline-block;
  }
  .multaniLassi {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 97px;
    white-space: nowrap;
  }
  .div2,
  .prices2 {
    font-weight: 500;
    min-width: 19px;
  }
  .div2 {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-darkorange-300);
    min-width: 31px;
    margin-top: -2px;
  }
  .pricesParent {
    flex-direction: column;
  }
  .containerInner,
  .frameWrapper,
  .multaniLassiParent,
  .pricesParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameWrapper {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-7xs);
  }
  .containerInner,
  .multaniLassiParent {
    flex-direction: column;
  }
  .multaniLassiParent {
    gap: var(--gap-mini);
  }
  .containerInner {
    padding: var(--padding-6xs) 0 0;
  }
  .container16,
  .container18 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .container16 {
    width: 289px;
    height: 95px;
    border-radius: var(--br-3xs);
    background-color: var(--color-bisque);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs);
    box-sizing: border-box;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-bricolage-grotesque-48pt);
  }
  .container18 {
    align-self: stretch;
    width: 76px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-burlywood);
  }
  .coldDrink,
  .mrp,
  .prices3 {
    position: relative;
    display: inline-block;
  }
  .coldDrink {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 78px;
    white-space: nowrap;
  }
  .mrp,
  .prices3 {
    font-weight: 500;
    min-width: 19px;
  }
  .mrp {
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: inherit;
    color: var(--color-darkorange-300);
    min-width: 24px;
    margin: -2px 0 0;
  }
  .container22 {
    flex-direction: column;
  }
  .container19,
  .container20,
  .container21,
  .container22 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container21 {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-7xs);
  }
  .container19,
  .container20 {
    flex-direction: column;
  }
  .container20 {
    gap: var(--gap-mini);
  }
  .container19 {
    padding: var(--padding-6xs) 0 0;
  }
  .container17,
  .containerParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .containerParent {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-bisque);
    overflow: hidden;
    justify-content: flex-start;
    padding: var(--padding-4xs);
    gap: var(--gap-xs);
  }
  .container17 {
    height: 95px;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs) 0 var(--padding-2xs);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-bricolage-grotesque-48pt);
  }
  .frameChild {
    align-self: stretch;
    width: 76px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-burlywood);
    overflow: hidden;
    flex-shrink: 0;
  }
  .div3,
  .prices4,
  .water {
    position: relative;
    display: inline-block;
  }
  .water {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 46px;
  }
  .div3,
  .prices4 {
    font-weight: 500;
    min-width: 19px;
  }
  .div3 {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-darkorange-300);
    min-width: 27px;
    margin-top: -2px;
  }
  .pricesGroup {
    flex-direction: column;
  }
  .frameContainer,
  .frameDiv,
  .pricesGroup,
  .waterParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameDiv {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-7xs);
  }
  .frameContainer,
  .waterParent {
    flex-direction: column;
  }
  .waterParent {
    gap: var(--gap-mini);
  }
  .frameContainer {
    padding: var(--padding-6xs) 0 0;
  }
  .container23,
  .frameParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .frameParent {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-bisque);
    overflow: hidden;
    justify-content: flex-start;
    padding: var(--padding-4xs);
    gap: var(--gap-xs);
  }
  .container23 {
    height: 95px;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs) 0 var(--padding-2xs);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-bricolage-grotesque-48pt);
  }
  .frameItem {
    align-self: stretch;
    width: 76px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-burlywood);
    overflow: hidden;
    flex-shrink: 0;
  }
  .div4,
  .faluda,
  .prices5 {
    position: relative;
    display: inline-block;
  }
  .faluda {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 49px;
  }
  .div4,
  .prices5 {
    font-weight: 500;
    min-width: 19px;
  }
  .div4 {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-darkorange-300);
    min-width: 31px;
    margin-top: -2px;
  }
  .pricesContainer {
    flex-direction: column;
  }
  .faludaParent,
  .frameGroup,
  .frameWrapper1,
  .frameWrapper2,
  .pricesContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameWrapper2 {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-7xs);
  }
  .faludaParent,
  .frameGroup,
  .frameWrapper1 {
    flex-direction: column;
  }
  .faludaParent {
    gap: var(--gap-mini);
  }
  .frameGroup,
  .frameWrapper1 {
    padding: var(--padding-6xs) 0 0;
  }
  .frameGroup {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-bisque);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-4xs);
    gap: var(--gap-xs);
  }
  .container24,
  .softDrink {
    display: flex;
    box-sizing: border-box;
  }
  .container24 {
    align-self: stretch;
    height: 95px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs) 0 var(--padding-2xs);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-bricolage-grotesque-48pt);
  }
  .softDrink {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-xs) 35px var(--padding-xs) var(--padding-5xl);
    gap: var(--gap-xl);
    line-height: normal;
    letter-spacing: normal;
  }